In [1]:
import numpy as np
import pandas as pd

In [ ]:
Understanding difference between CSV and JSON:
    CSV: comma seperated value, will have system generated indexes.
    JSON: java script object notion, no system generated indexes.

In [ ]:
Scenario: We are having fruit stand who sells apples and oranges
    Sample data as below

In [2]:
data ={'Apples': [3,2,0,1],
      'Oranges': [0,3,7,2]}

In [3]:
purchases = pd.DataFrame(data)

purchases

   Apples  Oranges
0       3        0
1       2        3
2       0        7
3       1        2

In [ ]:
Further enhancement of indexes

In [4]:
purchases = pd.DataFrame(data, index = ['Sahafi','Sam','Santhan','Azam'])

purchases

         Apples  Oranges
Sahafi        3        0
Sam           2        3
Santhan       0        7
Azam          1        2

In [ ]:
Method to locate info about particular index(customer)----> loc

In [5]:
purchases.loc['Santhan']

Apples     0
Oranges    7
Name: Santhan, dtype: int64

In [7]:
purchases.loc['Santhan']

Apples     0
Oranges    7
Name: Santhan, dtype: int64

In [ ]:
Reading data from CSV: file name purchases.csv

In [8]:
df = pd.read_csv('purchases.csv')

df

  Unnamed: 0  apples  oranges
0       June       3        0
1     Robert       2        3
2       Lily       0        7
3      David       1        2

In [ ]:
Further enhancement of data in purchases.csv file

In [9]:
df = pd.read_csv('purchases.csv', index_col = 0)

df

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2

In [ ]:
Reading data from JSON file..!! key-value datatype!!

In [11]:
df = pd.read_json('purchases.json')

df

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2