In [ ]:
Data Frames : Two dimension data structure Tabular format,Rows,Columns in data.

In [ ]:
General Syntax : pandas.DataFrame(data,index,columns,dtype,copy)

In [ ]:
Create the data frames:

In [1]:
import numpy as np
import pandas as pd

In [ ]:
Req : create an empty dataframe

In [2]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
Req : create a dataframe from lists

In [3]:
data = ['sam','syed','santy','azeem']

df = pd.DataFrame(data)
print(df)

       0
0    sam
1   syed
2  santy
3  azeem

In [ ]:
Customise column name and indexes:

In [5]:
data = [['sam',10],['azeem',9],['santy',8],['shafi',7]]

df = pd.DataFrame(data,columns = ['Names','Marks'],index = ['rank1','rank2','rank3','rank4'])
print(df)

       Names  Marks
rank1    sam     10
rank2  azeem      9
rank3  santy      8
rank4  shafi      7

In [ ]:
Req: create a DataFrame from Dictionary:

In [6]:
data = {'Name': ['Tom','Sam','Cam','Ram'], 'Age': [28,26,29,27]}

df = pd.DataFrame(data)
print(df)                        #KeyVlues will be considered as column names.

  Name  Age
0  Tom   28
1  Sam   26
2  Cam   29
3  Ram   27